@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("font/stylesheet.css");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Qanelas";
}

body {
  background-color: #1E2538;
}